* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.Panel {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--background);
    font-family: 'Roboto', sans-serif;
}

.navbar { grid-area: navbar; }
.active { grid-area: activ; }

.Panel {

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;

    grid-template-areas: 
    'navbar activ activ activ activ';
}


$logo-color: hsl(0, 0%, 11%);
$main-color: hsl(0, 0%, 15%);
$hover-color: hsl(0, 0%, 19%);
$text-color: rgb(189, 189, 189);
$text-hover: white;

.Navbar {
    position: relative;
    width: 100%;
    height: 100%;

    background-color: $main-color;

    .logo {        
        position: relative;
        top: 0;
        
        height: 4.55rem;
        
        background-color: $logo-color;
        text-align: center;

        p { 
            position: relative;
            top: 1rem;

            font-size: 2.3em;
            font-weight: 600;
            background-color: transparent;

            color: white;
        }
       
    }

    ul, li {
        width: 100%;

        position: relative;
        list-style: none;

        color: $text-color;

        height: 4.5rem;
    }

    li:hover {
        border-right: solid 4px white;
        background-color: $hover-color;
        color: $text-hover;
    }

    li {
        button {
            position: relative;
            width: 100%;
            height: 100%;

            border: 0;
            background-color: transparent;
            color: white;

            font-size: 1.2em;
            font-weight: 600;
        }
    }


    .themeButton {
        position: absolute;
        bottom: 3rem;
        left: 2rem;

        button {
            width: 3.2rem;
            height: 3.2rem;
            background-color: var(--button-theme-background);
            border: 2px solid black;
            border-radius: 0.3rem;
            
            color: var(--button-theme-text);
            line-height: 0px;
            font-size: 2em;
        }
        
    }

}
