* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.Panel {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--background);
    font-family: 'Roboto', sans-serif;
}

.navbar { grid-area: navbar; }
.active { grid-area: activ; }

.active {
    width: 100%;
    height: 98%;
    overflow-y: auto;
}

.Panel {

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;

    grid-template-areas: 
    'navbar activ activ activ activ';
}

.Navbar {
    position: relative;
    width: 100%;
    height: 100vh;

    background-color: var(--bar-color);

    .logo {        
        position: relative;
        top: 0;
        
        height: 4.55rem;
        
        background-color: var(--logo-color);

        img {
            position: relative;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            width: 3.5rem;
            height: 3.5rem;
        }
       
    }

    ul, li {
        width: 100%;

        position: relative;
        list-style: none;

        height: 4.5rem;
    }

    li:hover {
        border-right: solid 4px var(--text-primary);
        background-color: var(--logo-color);

        button {
            color: var(--text-primary);
        }
    }

    li {
        button {
            position: relative;
            width: 100%;
            height: 100%;

            border: 0;
            background-color: transparent;
            color: var(--text-secondary);

            font-size: 1.2em;
            font-weight: 600;
        }
    }


    .themeButton {
        position: absolute;
        bottom: 3rem;
        left: 2rem;

        button {
            width: 3.2rem;
            height: 3.2rem;
            background-color: var(--button-theme-background);
            border: 2px solid black;
            border-radius: 0.3rem;
            
            color: var(--button-theme-text);
            line-height: 0px;
            font-size: 1.8em;
        }


    }

}

