.Driver {
    position: relative;
    width: 100%;
    height: 3rem;

    border-bottom: 1px solid hsla(0, 0%, 49%, 0.5);


    .Number {
        position: absolute;
        top: 50%;
        left: 0rem;

        transform: translate(0%, -50%);

        width: 3rem;
        height: 3rem;

        text-align: center;
        line-height: 3rem;
        
        font-size: 1.3em;
        font-weight: 600;

        color: var(--text-primary);
        background-color: transparent;

    }

    .Country {
        position: absolute;
        left: 4rem;

        width: 3rem;
        height: 3rem;
    }

    .ShortName {
        position: absolute;
        left: 9rem;

        text-align: center;
        line-height: 3rem;

        font-size: 1.3em;
        font-weight: 600;

        &:hover {
            text-decoration: underline;
        }
    }
}